div {
	font-family: Consolas;
	color: #0094ff;
}

div:first-line {
	font-weight: bold;
}

@font-face {
    font-family: "Edwardian Script ITC";
    src: url("Edwardian Script ITC.ttf");
}

div::first-letter { 
    font-size: 2.4em;
    font-family: Edwardian Script ITC;
}