body{
    font-family: Consolas;
    background-color: dimgray;
}
button{
    margin: 0 10px 10px 0;
    display: inline-block;
    background-color: darkgrey;
    color: greenyellow;
    padding: 5px 10px;
    font-size: 1.3em;
    border: 2px solid greenyellow;
    font-family: inherit;
}

button:hover{
    opacity: 0.7;
}

button:active{
    opacity: 0.9;
    background-color: #292929;
}

div#js-console{
    border: 2px solid greenyellow;
    margin-bottom: 10px;
}

div#input{
    padding: 10px 0;
    font-family: Consolas;
    color: #292929;

}

::-webkit-input-placeholder {
    font-family: Consolas;

}

:-moz-placeholder { /* Firefox 18- */
    font-family: Consolas;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: Consolas;
}

:-ms-input-placeholder {
    font-family: Consolas;
}

div#input input[type=text]{
    font-family: Consolas;
    background-color: #ffffff;
    color: #292929;
    width: 200px;
    border: 2px solid greenyellow;
    padding: 5px 10px;
    font-size: 1.3em;
    display: none;
}


label{
	font-family: Consolas;
    background-color: #ffffff;
    color: #292929;
    width: 200px;
    border: 2px solid greenyellow;
    padding: 5px 10px;
    font-size: 1.3em;
    display: none;
}

function problem_6() {

  sConsole.clearConsole();
  input1.style.display = 'inline-block';
  input1.placeholder = 'Seperate by comma';
  input2.style.display = 'inline-block';
  input2.placeholder = 'Index';

  jsConsole.writeLine('Problem 5. Appearance count');
  solutionText();

  submit.onclick = function () {
      var index,
          result,
          input=[];

      input=input1.value.split(',');
      index= +input2.value;

      result=Larger(input,index);
      jsConsole.writeLine("1 -> true, 0 -> false, -1 -> inproper index")
      jsConsole.writeLine(result);

      function Larger(input, index){
        var i=index;

        if(i-1>=0 && i+1<=input.length-1){
          if((+input[i] > +input[i-1]) && (+input[i]>+input[i+1])){
            return 1;
          } else{
            return 0;
          }
        } else{
          return -1;
        }
      }


        }

    }
}
